* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#1282A2, #0A1128);
}

h1 {
  color: white;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 10px;
}

p {
  text-align: center;
}

.fg__p {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.fg__h2--name {
  margin-top: 5px;
  text-align: center;
  text-transform: uppercase;
}

.container {
  position: relative;
  display: flex;
  width: 66vw;
  height: 66vh;
  background-color: rgba(255, 255, 255, 0.15);
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
  border-radius: 25px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  overflow: auto;
}

@media screen and (max-height: 850px) {
  .container {
    height: 90vh;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    width: 80vw;
    height: 80vh;
  }
}
@media screen and (max-width: 1100px) {
  .container {
    flex-wrap: wrap;
    width: 90vw;
    height: 90vh;
  }
}
.container__left {
  text-align: center;
}

.container__right {
  min-width: 60%;
}

.fg__btn--skill {
  font-size: large;
  padding: 3px 10px;
  border-style: none;
  border-radius: 15px;
  min-height: 25px;
  margin: 10px;
  color: #034078;
  background-color: white;
}

.bg__img {
  position: absolute;
}

.bg__img--chip {
  width: 300px;
  top: 60vh;
  left: 40vw;
  -webkit-animation: underneath-animation linear 30s infinite;
          animation: underneath-animation linear 30s infinite;
}

.bg__img--wheel {
  top: 40px;
  width: 25vh;
  left: 75vw;
  top: 10vh;
  opacity: 50%;
  -webkit-animation: rotate-cogwheel linear 30s infinite;
          animation: rotate-cogwheel linear 30s infinite;
}

.bg__img--binary {
  left: 0;
  top: 0;
  opacity: 10%;
  height: 100vh;
}

.fg__img {
  margin-top: 40px;
  width: 200px;
  height: 200px;
  opacity: 80%;
  border: solid #1282A2 2px;
  border-radius: 50%;
}

a {
  position: relative;
  text-decoration: none;
  color: #034078;
}

a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 100%;
  left: 0;
  background: linear-gradient(90deg, transparent, #034078);
  transition: width 0.35s;
}

a:hover:after {
  width: 100%;
}

.footer {
  font-size: 12px;
  position: absolute;
  margin-top: 100vh;
  transform: translateY(-80%);
}

@-webkit-keyframes underneath-animation {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(20%, 0%);
  }
  75% {
    transform: translate(-5%, 0%);
  }
}

@keyframes underneath-animation {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(20%, 0%);
  }
  75% {
    transform: translate(-5%, 0%);
  }
}
@-webkit-keyframes rotate-cogwheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-cogwheel {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */