//Variables
$primaryColor: #034078; // primiary color
$secondaryColor: #001F54; //secondary color
$darkColor: #0A1128; // dark color
$lightColor: #1282A2; // light color
$textColor: white; // text color

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: linear-gradient($lightColor, $darkColor);
}

h1 {
  font-family: sans-serif;
  color: $textColor;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 10px;
}

p {
  font-family: sans-serif;
  color: $textColor;
  text-align: center;
}

.container {
  position: relative;
  width: 66%;
  height: 66%;
  background-color: rgba(255, 255, 255, 0.15);
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.25));
  border-radius: 25px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); // for Safari users
}

.bg__img {
  position: absolute;
}

.bg__img--chip {
  width: 300px;
  top: 10vh;
  left: 33%;
  animation: underneath-animation linear 30s infinite;
}

.bg__img--wheel {
  top: 40px;
  width: 25vh;
  left: 75vw;
  top: 10vh;
  opacity: 50%;
  animation: rotate-cogwheel linear 30s infinite;
}

.bg__img--binary {
  left: 0;
  top: 0;
  opacity: 10%;
  height: 100vh;
}

a {
  position: relative;
  text-decoration: none;
  color: $primaryColor;
}


a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 100%;
  left: 0;
  //background-color: $primaryColor;
  background: linear-gradient(90deg, transparent, $primaryColor);
  transition: width 0.35s;
}

a:hover:after {
  width: 100%;
}

@keyframes underneath-animation {
  0% {
    transform: translateY(0%);
  }

  25% {
    transform: translate(5%, 15%)
  }

  50% {
    transform: translate(-5%, 5%)
  }

  75% {
    transform: translate(5%, -1%)
  }
}

@keyframes rotate-cogwheel {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}